@model PetShopDan.Models.Animal
@{
    ViewData["Title"] = "AddAnimal";
    var categories = ViewBag.categories;
    var error = ViewBag.Error;
}

<header> 

</header>
<h1 class="mb-4" style="text-align:center">Add Animal</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @using (Html.BeginForm("AddAnimal", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model=>model.AnimalId)
                <div class="mb-3">
                    <label for="AnimalName" class="form-label">Animal Name</label>
                    @Html.TextBoxFor(model => model.AnimalName, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AnimalName)
                </div>
                <div class="mb-3">
                    <label for="Age" class="form-label">Age</label>
                    @Html.TextBoxFor(model => model.Age, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Age)
                </div>
                <div class="mb-3">
                    <label for="picture" class="form-label">Picture</label>
                    <input name="picture" id="picture" type="file" class="form-control" accept="image/*" required />
@*                    
 *@                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                 
                    @Html.TextAreaFor(model=>model.Description,3,3,new{@class="form-control"})
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                <div class="mb-3">
                    <label for="CategoryId" class="form-label">Category</label>
                    @Html.DropDownList("CategoryId", new SelectList(categories, "CategoryId", "CategoryName"), new { @class = "form-select" })

                    @Html.ValidationMessageFor(model => model.CategoryId)
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            }
        </div>
    </div>
</div>
@if (error != null)
{
    <p style="color:red;">@error</p>
}


